/* Menu */

.bg-primary {
  background-color: #277554 !important;
}

body {
  background-color: #294F6D !important;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

img {
  margin: 10px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
  font-family: serif;
}

/*.comment {*/

/*  font-family: times, serif;*/

/*  text-align: center;*/

/*}*/

.author {
  text-indent: 10%;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
